body {
    margin: 0;
}

.header{
text-align: center;
border-bottom: 1px solid black;
background-image: linear-gradient(to right, lightblue , darkblue);
color: white;
padding: 25px;
text-shadow: 1px 1px black;
}

h1{
    margin: 0;
}
 
.local{
float: left;
font-size: 1.5rem;/* temporary */
margin-right: 20px;
padding: 20px;
height: 100vh;
width: 15%;
border-right:1px solid black ;
}

#searchbar {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.weather{
    display: flex;
    margin-top: 20px;
}